.about-list {
  display: flex;
  justify-content: center;
  &__item {
    position: relative;
    text-decoration: none;
    .item-title {
      color: #d5d5d5;
      font-size: 14px;
      padding: 12px;
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: calc(50% - 15%);
      width: 1px;
      height: 30%;
      background-color: #eee;
    }
    &:last-child {
      &::before {
        width: 0px;
      }
    }
  }
}
.copyright {
  text-align: center;
}
.footer-brand {
  &__img {
    display: block;
    height: 40px;
    filter: grayscale(1);
  }
}

@media (max-width: 980px) {
  .footer {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 12px 0px;
  }
  .footer-brand__img {
    height: 28px;
  }
  .about-list {
    &__item {
      line-height: 1.2;
      .item-title {
        font-size: 12px;
        padding: 8px;
      }
    }
  }
  .copyright {
    font-size: 12px;
  }
}
