.login-btn {
  &__login {
    background: linear-gradient(135deg, #e9e094, #6f9567 80%);
  }
  &__signin {
    background: linear-gradient(135deg, #58b4c6, #237c8d 80%);
  }
  .btn {
    margin-right: 8px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.notice-marquee {
  position: absolute;
  bottom: -20px;
  z-index: 1;
  width: 100%;
}
.notice {
  min-height: 44px;
  text-decoration: none;
  display: flex;
  align-items: center;
  &__outer {
    padding-left: 48px;
    overflow: hidden;
    position: relative;
    background-color: #4763c3;
    border-radius: 8px;
    box-shadow: inset #00000050 2px 2px 4px 0px;
    .outer-icon {
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 16px;
      margin: auto;
      width: 24px;
      height: 24px;
      background-image: url('../images/ic_bulletin@3x.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .quick-tips {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      &__item {
        display: inline-block;
        font-size: 14px;
        color: #ffffff;
        margin: 0;
        padding: 8px;
      }
    }
  }
}

section {
  background-color: transparent;
}
