.side-content,
.layout-content {
  border-radius: 12px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to bottom, #314ba4 0, #131d3e 100%);
  border: 2px #ac5cea solid;
}
